body{font-family: '微软雅黑'}
a{color: #222}
.cate_zhu_title{width: 188px;height: 40px; background-color: #222222;color: #fff; text-align: center;line-height: 40px}
li{list-style: none;}
.menu_box li{padding: 10px 0;}
.menu_box li span{    padding-left: 25px;}
.menu_box li a.active{color: #87c69e}

/*sass*/
.pzbz_enter{padding: 10px 0; color: #87c69e }

/*主要商品盒子*/
.second_box .title_box{background: url(images/fresh_mod_head_bg.png) no-repeat; text-align: center; padding-top: 5px; font-size: 16px; }

.second_box .center-img img{  width: 100%;height: 300px }
.second_box .fruite_ad_box{display: flex;}
.second_box .cate_child_box{width: 165px}



.row{margin: 0;}
.goods_list{display: flex; transition: all 2s}
.goods_list li{    width: 20%; margin: 0 20px; list-style: none;} 
.cur{color: #f58384;font-size: 20px}
.goods_list_box{ position: relative;   width: 100%; overflow: hidden;}
.goods_list_box .left_arrow, .goods_list_box .right_arrow{position: absolute; top: 50%; background-color: rgba(29, 29, 29, 0.26); padding: 10px; cursor: pointer;}
.goods_list_box .left_arrow{left:10px }
.goods_list_box .right_arrow{right: 10px }

.paopao_box{position: absolute;left: 45%;bottom: 0; display: flex;}
.paopao_box > div{width: 10px;height: 10px;border: 1px solid #f58384;border-radius: 50%;margin: 0 5px;}


.paopao_box .active{background-color:#f58384;border: 1px solid #fff; width: 20px }